<!--
    Copyright (C) 2017  Stratumn SAS

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

{{#paper-dialog clickOutsideToClose=true onClose=(action "onClose")}}
  {{#paper-form onSubmit=(action "onSubmit") as |form|}}
    <form {{action "void" on="submit"}}>

      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          <h2>Create map</h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "onClose")}}
            {{paper-icon icon="close"}}
          {{/paper-button}}
        </div>
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{#if error}}
          <p class="error"><strong>Error {{error.status}}:</strong> {{error.message}}</p>
        {{/if}}
        {{#each args as |arg|}}
          {{paper-input
            block=true
            label=arg.name
            value=arg.value
            onChange=(action (mut arg.value))
          }}
        {{/each}}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button
          type="submit"
          primary=true
          onClick=(action form.onSubmit)
        }}
          Submit
        {{/paper-button}}
      {{/paper-dialog-actions}}

    </form>
  {{/paper-form}}
{{/paper-dialog}}
