<!--
    Stratumn Agent User Interface
    Copyright (C) 2016  Stratumn SAS

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    The presentation and each element of the Stratumn Agent User Interface
    including trademarks, logos, photographs, domain names, any graphical
    element belong exclusively to Stratumn or its licensors and are
    protection by intellectual property laws.
-->

{{#paper-dialog clickOutsideToClose=true onClose=(action "onClose")}}
  {{#paper-form onSubmit=(action "onSubmit") as |form|}}
    <form {{action "void" on="submit"}}>

      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          <h2>Create map</h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "onClose")}}
            {{paper-icon icon="close"}}
          {{/paper-button}}
        </div>
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{#if error}}
          <p class="error"><strong>Error {{error.status}}:</strong> {{error.message}}</p>
        {{/if}}
        {{#each args as |arg|}}
          {{paper-input
            block=true
            label=arg.name
            value=arg.value
            onChange=(action (mut arg.value))
          }}
        {{/each}}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button
          type="submit"
          primary=true
          onClick=(action form.onSubmit)
        }}
          Submit
        {{/paper-button}}
      {{/paper-dialog-actions}}

    </form>
  {{/paper-form}}
{{/paper-dialog}}
