<h5>Link hash</h5>
<p>{{segment.meta.linkHash}}</p>
<h5>Map ID</h5>
<p>{{segment.link.meta.mapId}}</p>
<h5>State hash</h5>
<p>{{segment.link.meta.stateHash}}</p>
{{#if segment.link.meta.prevLinkHash}}
  <h5>Previous link hash</h5>
  <p>{{segment.link.meta.prevLinkHash}}</p>
{{/if}}
<h5>Action</h5>
<p>{{segment.action}}</p>
<h5>Raw JSON</h5>
<pre>{{segment.json}}</pre>
