<!--
  Copyright 2017 Stratumn SAS. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

{{#if segments.length}}
  {{#paper-list}}
    {{paper-divider}}
    {{#each segments as |segment|}}
      {{#paper-item onClick=(action "onClickSegment" process segment.meta.linkHash)}}
        <p>
          <samp class="hide show-lg">{{segment.meta.linkHash}}</samp>
          <samp class="hide-gt-md">{{short-hash segment.meta.linkHash}}</samp>
        </p>
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
  {{#paper-content class="md-padding"}}
    {{#paper-button disabled=hasNoMore onClick=(action "onLoadMore")}}Load more{{/paper-button}}
  {{/paper-content}}
{{else}}
  {{#paper-content class="md-padding"}}
    <h2>Nothing to see here</h2>
    <p>No segments matched your request.</p>
  {{/paper-content}}
{{/if}}
