<!--
  Copyright 2017 Stratumn SAS. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

{{#paper-dialog clickOutsideToClose=true onClose=(action "onClose")}}
  {{#paper-form onSubmit=(action "onSubmit") as |form|}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <h2>Append segment</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "onClose")}}
          {{paper-icon icon="close"}}
        {{/paper-button}}
      </div>
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{#if error}}
        <p class="error"><strong>Error {{error.status}}:</strong> {{error.message}}</p>
      {{/if}}
      {{#paper-select
        block=true
        placeholder="Action"
        selected=selectedAction
        onChange=(action "changeSelectedAction")
        options=appendActions
        as |action|
      }}
        {{action.name}}
      {{/paper-select}}
      {{#each args as |arg|}}
        {{paper-input label=arg.name value=arg.value block=true onChange=(action (mut arg.value))}}
      {{/each}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button type="submit" primary=true}}Submit{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-form}}
{{/paper-dialog}}
