<!--
  Copyright 2017 Stratumn SAS. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<h2>Link hash</h2>
<p><samp>{{segment.meta.linkHash}}</samp></p>

<h2 class="m-t-1">Map ID</h2>
<p><samp>{{segment.link.meta.mapId}}</samp></p>

<h2 class="m-t-1">Process</h2>
<p><samp>{{segment.link.meta.process}}</samp></p>

<h2 class="m-t-1">State hash</h2>
<p><samp>{{segment.link.meta.stateHash}}</samp></p>

{{#if segment.link.meta.prevLinkHash}}
  <h2 class="m-t-1">Previous link hash</h2>
  <p><samp>{{segment.link.meta.prevLinkHash}}</samp></p>
{{/if}}

<h2 class="m-t-1">Action</h2>
<p><samp>{{segment.action}}</samp></p>

<h2 class="m-t-1">Raw JSON</h2>
<pre><code class="json"></code></pre>
