<!--
    Copyright (C) 2017  Stratumn SAS

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2>Link hash</h2>
<p><samp>{{segment.meta.linkHash}}</samp></p>

<h2 class="m-t-1">Map ID</h2>
<p><samp>{{segment.link.meta.mapId}}</samp></p>

<h2 class="m-t-1">State hash</h2>
<p><samp>{{segment.link.meta.stateHash}}</samp></p>

{{#if segment.link.meta.prevLinkHash}}
  <h2 class="m-t-1">Previous link hash</h2>
  <p><samp>{{segment.link.meta.prevLinkHash}}</samp></p>
{{/if}}

<h2 class="m-t-1">Action</h2>
<p><samp>{{segment.action}}</samp></p>

<h2 class="m-t-1">Raw JSON</h2>
<pre><code class="json"></code></pre>
