{{#paper-form onSubmit=(action "onSubmit") as |form|}}
  <form {{action "void" on="submit"}}>
    {{#paper-content class="md-padding"}}
      <div layout="" layout-sm="column">
        {{paper-input
          flex="25"
          label="Map ID"
          value=mapId
          onChange=(action (mut mapId))
        }}
        {{paper-input
          flex="25"
          label="Prev link hash"
          value=prevLinkHash
          onChange=(action (mut prevLinkHash))
        }}
        {{paper-input
          flex="25"
          label="Tags"
          value=tags
          onChange=(action (mut tags))
        }}
        <div flex="25">
          {{#paper-button type="submit" primary=true onClick=(action form.onSubmit)}}Filter{{/paper-button}}
          {{#paper-button iconButton=true onClick=(action "onReset")}}{{paper-icon "clear"}}{{/paper-button}}
        </div>
      </div>
    {{/paper-content}}
  </form>
{{/paper-form}}
