{{#paper-content class="md-padding"}}
  <div class="index-content">

    <p>
      An agent executes the logic of your workflow.
      An instance of a workflow is called a map.
      It contains the different steps of the workflow, called segments.
    </p>

    {{paper-divider}}

    <h2>Endpoint</h2>
    <p><samp><a href="{{model.url}}" target="_blank">{{model.url}}</a></samp></p>
    <p class="light">
      <small>
        You can use this URL to connect to your agent, using the
        <a class="nav-link" href="https://github.com/stratumn/stratumn-sdk-js/tree/alpha" target="_blank">Stratumn Javascript SDK</a>
        for instance.
      </small>
    </p>

    {{paper-divider}}

    <h2>Actions</h2>
    <ul>
      {{#each model.actions as |action|}}
      <li><samp>{{action.signature}}</samp></li>
      {{/each}}
    </ul>
    <p class="light">
      <small>
        These are the procedures that define how segments are added to your maps.
      </small>
    </p>

    {{paper-divider}}

    <h2>Store</h2>
    <p class="light">
      <small>
        A store is responsible for saving your data. There are different adapters available depending on your needs.
      </small>
    </p>

    <h3>Store adapter name</h3>
    <p><samp>{{model.storeInfo.adapter.name}}</samp></p>

    <h3>Store adapter version</h3>
    <p><samp>{{model.storeInfo.adapter.version}}</samp></p>

    <h3>Store adapter description</h3>
    <p><samp>{{model.storeInfo.adapter.description}}</samp></p>

    {{paper-divider}}

    <h2>Fossilizer</h2>
    <p class="light">
      <small>
        A fossilizer adds the steps of your workflow to a timeline, such as a Blockchain or a trusted timestamping authority.
      </small>
    </p>

    {{#if model.fossilizerInfo}}
      <h3>Fossilizer adapter name</h3>
      <p><samp>{{model.fossilizerInfo.adapter.name}}</samp></p>

      <h3>Fossilizer adapter version</h3>
      <p><samp>{{model.fossilizerInfo.adapter.version}}</samp></p>

      <h3>Fossilizer adapter description</h3>
      <p><samp>{{model.fossilizerInfo.adapter.description}}</samp></p>
    {{else}}
      <p>Your agent is not connected to a fossilizer.</p>
    {{/if}}

  </div>
{{/paper-content}}
